<section id="footer">
    <!-- <footer id="footer">

        <i class="social-icon fa-brands fa-facebook fa-xl"></i>
        <i class="social-icon fa-brands fa-twitter fa-xl"></i>
        <i class="social-icon fa-brands fa-instagram fa-xl"></i>
        <i class="social-icon fa-solid fa-envelope fa-xl"></i>

        <p style="color: #dce0e3">© Copyright MemeRat</p>

    </footer> -->
    <footer>
        <div class="footer-content">
            <h4>MemeRat</h4>
            <p class="footer-description">
                A website where you can show your creativity and make some great memes. Show love to other memes. 
            </p>
            <ul class="socials">
                <li><a href="https://www.linkedin.com/in/ratnesh2003/"><i class="social-icon fa-brands fa-linkedin fa-xl"></i></a></li>
                <li><a href=""><i class="social-icon fa-brands fa-twitter fa-xl"></i></a></li>
                <li><a href="https://www.instagram.com/ratnesh_mishra20/"><i class="social-icon fa-brands fa-instagram fa-xl"></i></a></li>
                <li><a href=""><i class="social-icon fa-solid fa-envelope fa-xl"></i></a></li>
            </ul>
            <p class="copyright" style="color:aquamarine">&copy; 2022 <a href="#">MemeRat</a> All Rights Reserved</p>
        </div>
    </footer>


</body>

</html>