<%- include("partials/playHeader") %>

    <section>

        <!-- <h1 class="heading">Caption the Image</h1> -->
        <!-- <img src="<%= imagevar %>" > -->




        <h1 class="heading">Caption the Image</h1>


        <div class="container">
            <div class="row home-container">
                <div class="col-lg-6 col-sm-12">
                    <img class="top-image" width="auto" height="85%" src="<%= imagevar %>" alt="">
                </div>

                <div class="col-lg-6 col-sm-12">

                    <p class="home-text">Instructions</p>
                    <ul>
                        <li class="instructions-text">Think creatively and make others laugh with your caption.</li>
                        <li class="instructions-text">If the image has more than one box, you can give provide numbering for different texts.</li>
                        <li class="instructions-text">For example: "Box1: Some text, Box2: Some text".</li>
                        <li class="instructions-text">Make sure your caption is not too long, otherwise it would be hard for others to see your whole caption.</li>
                        <li class="instructions-text">Do not copy other captions from internet. It is just for fun.</li>
                    </ul>


                    <form method="post" action="/caption">

                        <div class="form-outline mb-3">
                            <label for="form1caption" class="form-label caption-heading">Caption</label>
                            <input type="text" id="form1caption" class="form-control" name="captionsub">
                        </div>

                        <button type="submit" class="btn btn-primary btn-block mb-4">Add</button>

                    </form>

                    
                </div>
            </div>
        </div>


    </section>



    <%- include("partials/footer") %>