<%- include("partials/header"); -%>



<!--I added this line-->
<section>

    <h1 class="heading">Show your skills or support others to endeavour</h1>


    <div class="container">
        <div class="row home-container">
            <div class="col-lg-6 col-sm-12">
                <p class="home-text">Caption the image, gain votes and reach the crest</p>
                <h3>OR</h3>
                <p class="home-text">Vote the caption and assist to reach the pinnacle</p>
            </div>

            <div class="col-lg-6 col-sm-12">
                <img class="top-image" src="memrat.jpg" alt="">
            </div>
        </div>
    </div>
</section>


<section id="features">
    <div class="container">
        <div class="row">
            <div class="feature-box col-lg-4 col-md-12">
                <img class="icon" src="swords-white.png" alt="Swords-Crossed">
                <h2>Everyday Contests</h2>
                <p class="feature-text">Show your meme skills and give the best caption</p>

            </div>
            <div class="feature-box col-lg-4 col-md-12">
                <img class="icon" src="swords-white.png" alt="Swords-Crossed">
                <h2>Everyday Contests</h2>
                <p class="feature-text">Show your meme skills and give the best caption</p>
            </div>
            <div class="feature-box col-lg-4 col-md-12">
                <img class="icon" src="swords-white.png" alt="Swords-Crossed">
                <h2>Everyday Contests</h2>
                <p class="feature-text">Show your meme skills and give the best caption</p>
            </div>
        </div>
    </div>
</section>


<section id="about">

    <h1 style="text-align: center; color: #dce0e3"> What is this about?</h1>
    <div class="skill-row">
        <img class="about-img-left" src="memrat.jpg">
        <h1 style="color: #ed0f3c">Heading 1</h1>
        <p style="color: #dce0e3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Feugiat pretium nibh ipsum consequat nisl. Imperdiet dui accumsan sit amet nulla
            facilisi morbi tempus iaculis.</p>
    </div>
    <div class="skill-row">
        <img class="about-img-right" src="memrat.jpg">
        <h1 style="color: #ed0f3c">Heading 2</h1>
        <p style="color: #dce0e3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Feugiat pretium nibh ipsum consequat nisl. Imperdiet dui accumsan sit amet nulla
            facilisi morbi tempus iaculis.</p>
    </div>
    <div class="skill-row">
        <img class="about-img-left" src="memrat.jpg">
        <h1 style="color: #ed0f3c">Heading 3</h1>
        <p style="color: #dce0e3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Feugiat pretium nibh ipsum consequat nisl. Imperdiet dui accumsan sit amet nulla
            lkasdjfkljaj lksadjfljasdlka lkj.</p>
    </div>

</section>

<%- include("partials/footer"); -%>