<%- include("partials/header"); -%>



<!--I added this line-->
<section>

    <h1 class="heading">Show your skills or support others to endeavour</h1>


    <div class="container">
        <div class="row home-container">
            <div class="col-lg-6 col-sm-12">
                <p class="home-text">Caption the image, gain votes and reach the crest</p>
                <p class="or">OR</p>
                <p class="home-text">Vote the caption and assist to reach the pinnacle</p>
                <div style="text-align: center; margin-top: 2rem;"><button type="button" class="btn btn-lg btn-warning"><a href="/play" class="play-now-button">Play Now</a> </button></div>
                
            </div>

            <div class="col-lg-6 col-sm-12">
                <img class="top-image shadow p-3 mb-5 bg-body rounded" src="google-login-meme.jpg" alt="">
            </div>
        </div>
    </div>
</section>


<section id="features">
    <div class="container">
        <div class="row">
            <div class="feature-box col-lg-4 col-md-12">
                <img class="icon" src="chart-line-solid-light.svg" alt="Swords-Crossed">
                <h2>Live Rankings</h2>
                <p class="feature-text">Climb you way up to the top and become the #MemeKing</p>

            </div>
            <div class="feature-box col-lg-4 col-md-12">
                <img class="icon" src="gift-solid-light.svg" alt="Gift-Solid-Light">
                <h2>Daily Rewards</h2>
                <p class="feature-text">Get rewarded daily in every contest for gaining the most points</p>
            </div>
            <div class="feature-box col-lg-4 col-md-12">
                <img class="icon" src="battle-net-brand-light.svg" alt="Battle-Net-Brand-Light">
                <h2>Meme Battles</h2>
                <p class="feature-text">Either use your skills to give best caption or choose the best of them</p>
            </div>
        </div>
    </div>
</section>


<section id="about">

    <h1 style="text-align: center; color: #dce0e3"> What is this about?</h1>
    <div class="skill-row">
        <img class="about-img-left shadow p-2 bg-body rounded" src="meme-example-1.jpg">
        <h1 style="color: #ed0f3c">About me</h1>
        <p class="about-section-text" style="color: #dce0e3">
            My name is <u>Ratnesh Mishra</u> and I am a B.Tech Computer Science student. I like doing Web Development, Competitive Programing and Ethical Hacking.
            I am always willing to learn new technical things. I'll be learning Artificial Intelligence and Machine Learning in near future. I learnt
            <u>JavaScript</u>, <u>Express</u>, <u>MongoDB</u> and <u>NodeJs</u> some months ago and wanted to implement my skills so I worked and made this website.
        </p>
    </div>
    <div class="skill-row">
        <img class="about-img-right shadow p-2 bg-body rounded" src="meme-example-2.jpg">
        <h1 style="color: #ed0f3c">Idea of the Website</h1>
        <p class="about-section-text" style="color: #dce0e3">
            The idea of this website is that a random meme template is displayed everyday. User gets two options, they can either give caption to
            that meme template or they can choose to vote captions given by other users. The image resets everyday and after the day ends, users 
            receive their points according to the votes and captions they gave. A leaderboard and a winners page displays scores of all users 
            everyday.            
        </p>
    </div>
    <div class="skill-row">
        <img class="about-img-left shadow p-2 bg-body rounded" src="meme-example-3.jpg">
        <h1 style="color: #ed0f3c">Disclaimer</h1>
        <p class="about-section-text" style="color: #dce0e3">
            All the memes used in this website are not owned by me. For meme templates, I use an API. 
            This website might still be having some bugs since this is the first website I made. A feedback about the website would be highly
            appreciated in case of any bugs or suggestions. Thanks for the visit.
        </p>
    </div>

</section>

<%- include("partials/footer"); -%>