<%- include("partials/header"); -%>


    <form class="login-form" method="post" action="/login">

        <!-- Email Input -->
        <div class="form-outline mb-3">
            <label for="form1email" class="form-label login-headings">Email address</label>
            <input type="email" id="form1email" class="form-control" name="username">
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label for="form1password" class="form-label login-headings">Password</label>
            <input type="password" id="form1password" class="form-control" name="password">
        </div>

        <div class="row">
            <div class="col form-check remember-me-center">
                <label class="form-check-label login-headings" for="form1checkbox">Remember me</label>
                <input class="form-check-input" type="checkbox" id="form1checkbox">
            </div>

            <div class="col remember-me-center">
                <a href="">Forgot password?</a>
            </div>
        </div>


        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

        <!--Register button-->
        <div class="text-center">
            <p class="login-headings">Not a member ? <a href="register"><u>Register</u></a></p>
            <p class="login-headings">or sign in with: </p>

            <button type="button" class="btn  btn-danger mx-1">
                <a class="no-hover" href="/auth/google"><i class="fab fa-google"></i> Google</a>
            </button>
        </div>


    </form>


    <%- include("partials/footer"); -%>