<%- include("partials/playHeader") %> 

<section>

    <h1 class="heading">Image of the day</h1>


    <div class="container">
        <div class="row home-container">
            <div class="col-lg-6 col-sm-12">
                <p class="home-text"><a href="/caption">Creative thoughts? Caption the image</a></p>
                <h3>OR</h3>
                <p class="home-text"><a href="/vote">Feeling less confident? Vote captions by others</a></p>
            </div>

            <div class="col-lg-6 col-sm-12">
                <img class="top-image" src="<%= imagevar %>" alt="">
            </div>
        </div>
    </div>
</section>



<%- include("partials/footer") %> 