body{
    /* background-color: #F0EDFF; */
    background-color: #0e141b;
    color: #182635;
    font-family: "Montserrat";
}

h3{
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: 400;
    /* color: #878CF6; */
    color: #ed0f3c;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    text-align: center;
}

h2{
    font-family: "montserrat";
    font-size: 1.8rem;
    font-weight: 900;
    /* color: #F0EDFF; */
    color: #ed0f3c;
    padding-top: 15px;
}

/* Navbar */
.navbar{
    /* background-color: #5F5F90; */
    background-color: #0e141b;
}

.navbar-brand{
    padding-left: 30px;
    font-family: "BioRhyme";
    /* color: #F0EDFF; */
    color: #dce0e3;
    font-size: 1.8rem !important;
    font-weight: 500;
}

.navbar-brand:hover{
    padding-left: 30px;
    /* color: #F0EDFF; */
    color: #ed0f3c;
    font-size: 1.8rem !important;
    font-weight: 500;
}

.nav-item{
    padding-left: 20px;
    padding-right: 10px;
    font-size: 1.2rem !important;
    font-weight: 500 !important;
}

.nav-link{
    color: #dce0e3;
}

.nav-link:hover{
    color: #ed0f3c;
}

.or{
    font-size: 1.3rem;
    font-weight: 600;
    color: #dce0e3;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    text-align: center;
}

/* Middle Container */

.heading{
    font-family: "Montserrat";
    font-size: 2.75rem;
    font-weight: 800;
    /* color: #464555; */
    color: #dce0e3;
    text-align: center;
    padding-top: 30px;
}

.top-image{
    width: 65%;
    margin-left: 90px;
    /* padding-left: 60px; */
    /* box-shadow: 10px 10px red; */
}

.play-now-button{
    color: #0e141b;
    font-family: "Montserrat";
    font-weight: 500;
}

.about-section-text{
    color:#dce0e3;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Montserrat";

}

/* Voting page reapeating image style */
.caption-image{
    width: 80%;
    padding: 15px;
    object-fit: fill;
}

.caption-text-body{
    padding: 4%;
}

.caption-text{
    font-size: 1.5rem;
    font-family: "Montserrat";
    font-weight: 500;
    color: #dce0e3;
}


#captions-list{
    padding: 60px 100px;
}

.home-text{
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 600;
    /* color: #878CF6; */
    color: #ed0f3c;
    text-align: center;
}

/* Instructions */
.instructions-text{
    color:#dce0e3;
    font-size: 1.2rem;
    padding: 5px 5px;
}

/* Caption Heading */
.caption-heading{
    color:#dce0e3;
    font-size: 1.3rem;
}

.home-container{
    padding-top: 4rem;
}

/* Icons */
.icon{
    width: 18%;
}

.feature-box{
    text-align: center;
    padding: 60px 0;
}

#features{
    padding: 5rem 0 ;
    /* background-color: #5F5F90; */
    background-color: #0e141b;
    margin-top: 2.5rem;
}

.feature-text{
    font-family: "Montserrat";
    font-size: 1rem;
    color: white;
}

/* About Us */
.skill-row{
    text-align: left;
    width: 70%;
    margin: 100px auto 100px auto;
    padding: 30px 0;
}

.about-img-left{
    margin-right: 30px;
    width: 17rem;
    height: 17rem;
    float: left;
}

.about-img-right{
    margin-left: 30px;
    width: 17rem;
    height: 17rem;
    float: right;
}

#about{
    padding: 2rem 0;
}

/* Footer */

/* #footer{
    padding: 4%;
    text-align: center;
    background-color: #182635;
}

.social-icon{
    margin: 20px 16px;
} */



/* TEST START */
footer{
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #182635;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h4{
    font-family: "BioRhyme";
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 1.1rem;
    color: #cacdd2;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #dce0e3;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: #ed0f3c;
}

/* TEST END */

/* Login form */
.login-form{
    margin: 7rem 30rem 4rem;
}

.login-headings{
    color: #dce0e3 !important;
    font-size: 1.1rem;
}

.no-hover:hover{
    color: #dce0e3;
}

.remember-me-center{
    padding: 0 4.5rem;
    margin-bottom: 2rem;
}

/* PlayHome */

.choice-section{
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: #dce0e3;    
}

a:hover {
    color: #ed0f3c;
}

i {
    color: #dce0e3;

}

.dropdown-menu{
    min-width: 60px;
}

/* Leaderboard */
/* @media( max-width: 200px) {
    .leaderboard-div{
        margin: 0;
    }
    
} */
@media( min-width: 500px) {
    .leaderboard-div{
        margin: 3rem 10rem;
    }

    .leaderboard-heading{

        background-color: #083E4E !important;
        color: #F0FAFF;
        font-size: 1.8rem;
        font-family: "Montserrat";
        padding: 1rem !important;
        text-align: center;
        vertical-align: middle;
        max-width: 10rem !important;
    
    
    }
    .leaderboard-column{
    
        background-color: #F0FAFF !important;
        color: #0e141b !important;
        font-family: "Montserrat";
        padding-top: 0.8rem !important;
        font-size: 1.2rem;
        text-align: center;
    }



}
@media( max-width: 800px){
    .leaderboard-div{
        margin: 3rem 0.4rem;
    }

    .leaderboard-heading{

        background-color: #083E4E !important;
        color: #F0FAFF;
        font-size: 1.1rem;
        font-family: "Montserrat";
        /* padding: 0.8rem !important; */
        text-align: center;
        vertical-align: middle;
        max-width: 10rem !important;
    
    
    }
    .leaderboard-column{
    
        background-color: #F0FAFF !important;
        color: #0e141b !important;
        font-family: "Montserrat";
        padding-top: 0.7rem !important;
        font-size: 1rem;
        text-align: center;
    }
  
}
/* .leaderboard-div{
    /* background-color: #cacdd2;
    padding: 1rem 10rem;
    margin: 3rem 10rem;
} */

/* .leaderboard-table{
     background-color: red !important; 
} */



/* End pages */
.end-pages{
    text-align: center;
    padding: 10rem 25rem;
    color: #cacdd2;
    font-family: "Montserrat";
}


/* Color Palette
#5F5F90
#878CF6
#F0EDFF */

/* New Palette 
#0e141b
#dce0e3
#ed0f3c
#182635
#ffe003 */